<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {% endif %}ACAPS Ukraine Buildings</title>
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  
  {% if page.extra_head %}
    {{ page.extra_head }}
  {% endif %}
</head>
<body>

  {% include header.html %}

  <main class="site-content">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>